# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
draft-images
social-images
general-images
drafts
designs
dist-ssr
*.local
public/2353729728664d56bf43d9c5c4391d99.txt

desktop.ini 
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
