body {
  margin: 0;
  padding-right: 0 !important;

  /* fixing the google ads anchor space */
  padding-top: 0px !important;
}

/* Browser Scrollbar Styling */
::-webkit-scrollbar {
  width: 9px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
}
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

/* toolTip title parent. can't be styled from any component - applayed to the body*/
.muirtl-z5ff92-MuiTooltip-tooltip,
.muirtl-z5ff92-MuiTooltip-tooltip,
.MuiTooltip-tooltip {
  padding: 8px !important;
  max-width: 85% !important;
  min-width: 150px;
  /* min-width: min-content; 150 px is good for lyrict-ttip but not for others on the page */

}
@media (min-width: 600px) {

  .muirtl-z5ff92-MuiTooltip-tooltip,
  .muirtl-z5ff92-MuiTooltip-tooltip,
  .MuiTooltip-tooltip {
    max-width: 600px !important;
  }

}

#recaptcha-wrapper{
    align-items: center !important;
    text-align: center !important;
    align-content: center !important;
    background: #9e9e9ef0;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    z-index: 1;
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin: unset !important;
    padding: unset !important;
}

#recaptcha-element{
   place-self: center;
}

.gs-captcha-msg{
  color: #fff;
}

/* Google ads styling */
.adsbygoogle[data-anchor-status="displayed"] {
  z-index: 2147483647 !important;
  top: 57px !important;
}
.adsbygoogle[data-anchor-status="dismissed"] {
  top: -94px !important;
}
.grippy-host {
  /* THE ANCHOR AD ARROW */
  /* display: none; */
}