body {
  margin: 0;
  padding-right: 0 !important;

  /* fixing the google ads anchor space */
  padding-top: 0px !important;
  /*  */
}

::-webkit-scrollbar {
  width: 9px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

/* toolTip parent. can't be styled from component */
.muirtl-z5ff92-MuiTooltip-tooltip,  .muirtl-z5ff92-MuiTooltip-tooltip, .MuiTooltip-tooltip {
  padding: 8px !important;
  max-width: 85% !important;
  min-width: 150px;
}
@media (min-width: 600px) {
  .muirtl-z5ff92-MuiTooltip-tooltip,  .muirtl-z5ff92-MuiTooltip-tooltip, .MuiTooltip-tooltip {
    max-width: 600px !important;
  }
}

/* google search styling */
.google-auto-placed {
  overflow: hidden;
}

.adsbygoogle[data-anchor-status="displayed"] {
  z-index: 2147483647 !important;
  top: 57px !important;
}

.adsbygoogle[data-anchor-status="dismissed"] {
  top: -94px !important;
}

.grippy-host { /* THE ANCHOR AD ARROW */
  /* display: none; */
}

/* Search results style, dom elements from out of REACT */

.gsc-control-wrapper-cse,
.gsc-results-wrapper-nooverlay,
.gsc-results-wrapper-visible {
  margin-top: -2px;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
}

.gsc-results-wrapper-visible,
.gcse-searchresults,
.gsc-control-wrapper-cse {
  max-width: 100%;
  max-height: 285px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 1px 2px 0 #7c7c7c;
}

.gsc-control-wrapper-cse{
  overflow: visible;
}

#___gcse_0 {
  position: absolute;
  margin-top: -48px;
  border: unset;
  z-index: 1;
}

#___gcse_0 * {
  font-size: 12px;
}

#___gcse_0 .gs-captcha-outer-wrapper {
  padding: 30px !important;
}

#___gcse_0 input {
  background: unset !important;
  direction: rtl;
}

.gsc-control-cse,
.gsc-control-cse-en {
  max-width: 432px !important;
  visibility: hidden;
}

@media (max-width: 600px) {

  .gsc-control-cse,
  .gsc-control-cse-en {
    width: 90%;
    max-width: 390px !important;
  }

  #___gcse_0 {
    margin-right: -17px;
    margin-top: -50px;
    border: unset;

  }

  .gsc-control-wrapper-cse{
    width: 90% !important;
  }
}

.gs-title * {
  font-weight: 700 !important;
  color: rgb(71, 71, 71) !important;
}

.gs-title span{
  color: #DF808E !important;
}

.gs-title strong{
  color: #a78cd1  !important;
}

.gcsc-find-more-on-google-root, .gcsc-more-maybe-branding-root {
  display: none !important;
}

.gsc-webResult {
  /* min-height: 50px; */
  padding: 2px;
  cursor: pointer;
}

.gsc-result * {
  font-family: 'Assistant','Roboto', 'sans-serif' !important;
  font-weight: 500;
  direction: ltr;
  background-color: rgba(136, 136, 136, 0) !important;
  color: rgb(81, 81, 81) !important;
}

.gsc-result:hover,
.gsc-result:focus {
  background-color: rgb(205, 205, 205) !important;
}

.gsc-url-top {
  display: none !important;
}

.gs-spelling a {
  pointer-events: unset;
}

.gs-visibleUrl-breadcrumb .gsc-table-result * {
  display: none !important;
}

.gsc-url-top {
  display: none;
}

.gs-visibleUrl, .gs-visibleUrl-breadcrumb, .gs-snippet {
  display: none !important;
}

.gs-visibleUrlop {
  display: none;
}

.gsc-table-cell-thumbnail .gsc-thumbnail, .gsc-cursor-box {
  display: inline;
}

.gs-title {
  display: none;
}

.gcsc-more-maybe-branding-root {
  display: none;
}

.gsc-above-wrapper-area {
  display: none !important;
}

.gsc-adBlock {
  display: none !important;
}

/*results pages numbers navigator (- mobile) */
.gsc-cursor *{
  background-color: rgba(0, 0, 0, 0) !important;
}

.gsc-webResult a,
.gsc-result a {
  /* pointer-events: none; */
  /* display: inline; */
}

#___gcse_0 .gs-image-box {
  /* display: none; */
}

/* END Search results style, dom elements out of REACT */